@import url(//fonts.googleapis.com/css?family=Cabin);#login_box,
.signup-form{font-family:cabin;}
#login_box_social,
#login_box_content,
#lightbox_content{width:95%;padding:10px 4%;}
#lightbox_header,
.signup_heading{padding:11px 0px 8px 0px;background:none;border:none;}
#lightbox_header h2,
.signup_heading h1,
#loginhome h1,
#forgothome h1{color:#333;text-align:center;padding:0px;margin:0px;text-shadow:none;font:2em cabin !important;font-weight:bold !important;}
#loginhome h1{padding-bottom:10px;}
.login_header{border-bottom:0px;}
#lightbox_content{float:left;border:0px;padding:0px;}
#login_box{height:320px;}
#login_box_social,
#login_box_content{position:static;}
#login_box_social p,
.login_header h2,
.login_header p span,
#forgothome .login_header p{text-align:center;color:#b3b3b3;font:1.3em cabin !important;}
#forgothome .login_header{margin-top:20px;}
#forgothome .login_header p:nth-child(2){display:none;}
#login_box_content input,
.signup_form_inner input{width:96%;padding:5px 2% !important;height:30px;}
input.lightbox_button,
.signup_form_inner input.isubmit,
#forgothome input.isubmit,
#loginhome input.isubmit{width:100% !important;height:40px !important;text-align:center;font:17px cabin !important;background:#e73e3e;background-image:none;border:0px;font-weight:bold;color:#fff;border-radius:4px;}
.signup_form_inner input.isubmit{width:96% !important;}
.member-signup .signup_form_inner input.isubmit{width:100% !important;}
.lightbox_button:hover,
.signup_form_inner input.isubmit:hover{background:#dd3838;}
#login_box a.sbox.cboxElement,
#login_box a.forget-password,
#signup_iframe a.lbox.cboxElement,
a.member-forget-pass{float:left;color:#286ebb;font-size:13px;text-decoration:none;}
#login_box a.sbox.cboxElement:hover,
#login_box a.forget-password:hover,
#signup_iframe a.lbox.cboxElement:hover{color:#356090;}
#login_box a.forget-password,
#signup_iframe a.lbox.cboxElement,
a.member-forget-pass{float:right;}
#signup_iframe a.lbox.cboxElement{margin-right:40px;margin-bottom:20px;font-family:cabin;}
.signup_form_inner form{margin-bottom:0px;}
body.signup-form{margin:0px;}
.signup_form_inner{margin-left:5%;}
.member-signup .signup_form_inner{margin-left:0px;}
.signup_form_inner table{width:99%;}
.signup_form_inner table td input,
.signup_form_inner table td select,
#forgothome input#email,
#loginhome input.ibox{height:41px;margin-top:12px;margin-bottom:2px;border-radius:4px;border:1px solid #ddd;font-family:cabin;}
.member-signup .signup_form_inner table td input,
#loginhome #login_content table td input,
#forgothome input.ibox{height:31px !important;}
#forgothome input#email,
#loginhome input.ibox{width:97% !important;font-family:cabin;}
span.error{color:#E73E3E !important;}
.signup_form_inner table td input:focus,
.signup_form_inner table td select:focus{box-shadow:0 1px 3px hsla(0, 0%, 0%, 0.06) inset, 0 0 5px hsla(211, 65%, 45%, 0.7);}
.signup_form_inner table td select{width:96%;color:#b3b3b3;}
.member-signup .signup_form_inner table td select{width:100%;}
.signup_form_inner table td .form_field span{font-size:13px;color:#b3b3b3;}
.signup_form_inner p{color:#b3b3b3;margin:0 0 5px 0;}
#cboxTopRight{background-image:none;border:none;}
#cboxClose{top:-10px;right:-7px;width:20px;height:24px;background:url(images/colorbox/controls.png) no-repeat -27px 0;}
#cboxClose:hover{background-position:-27px -25px;}
iframe.signup-popup{height:470px;width:500px;}
.login-sign-bottom{}
#box_members ul{float:right;}
#forgothome,
#loginhome,
.member-signup #signup{background:#fff;width:370px;padding:15px 20px;margin-left:-185px;font-family:cabin;}
#loginhome,
.member-signup #signup{width:500px;margin-left:-260px;}
#colorbox, #cboxOverlay, #cboxWrapper{outline:none !important;}
@media only screen and (max-device-width:480px){iframe.signup-popup{width:440px;}
#cboxContent{width:440px !important;}
#login_box_content{width:85% !important;}
#login_box{width:494px;}
.login-sign-bottom a.lbox.cboxElement{float:left !important;padding-left:5%;}
#loginhome,
.member-signup #signup,
#forgothome{width:100%;margin-left:-56%;}
}
@media only screen and (max-device-width:360px){iframe.signup-popup{width:330px;}
#cboxContent{width:330px !important;}
.login-sign-bottom{width:65%;}
#login_box{width:368px;}
#loginhome,
.member-signup #signup,
#forgothome{margin-left:-59%;}
}
@media only screen and (max-device-width:320px){iframe.signup-popup{width:290px;}
#cboxContent{width:290px !important;}
.login-sign-bottom{width:56%;}
#login_box{width:322px;}
#signup_iframe a.lbox.cboxElement{margin-right:0px;}
#loginhome,
.member-signup #signup,
#forgothome{margin-left:-60.5%;}
}